body{
    text-align: center;
}
button{
    margin-top: 200px;
    padding: 8px;
    border-radius: 4px;
    width: 100px;
    background-color: rgb(121, 145, 252);
    border: solid 1px black;
    font-weight: bold;
}
.colors{
    display: flex;
}
.modo-noturno{
    background-color: rgb(19, 19, 19);
    color: whitesmoke;
}